.material-symbols-outlined {
    font-size: inherit;
    color: #5026A8;

    &:hover {
        cursor: pointer;
    }

    &.white-icons {
        color: white
    }
}

.logOutButton {
    color: white
}

.account-icon {
    color: white;
}

.search-icon {
    padding: 0%;
    margin: 0%;
}