.task-content {
    font-size: 18px; /* Размер шрифта */
    font-weight: bold; /* Жирный шрифт */
    margin-right: 7px;
    color: rgb#5026A8; /* Цвет заголовка */
    display: inline-block;
}

.task-item {
    display: inline-block;
}

.ql-editor{
    min-height: 150px;
}

.margin-10 {
    margin-bottom: 10px;
}

.description li {
    margin-left: 20px;
}